@import './base.css';

#app {
  position:fixed;
  top:0px;
  left:0px; 
  width: 100%;   
  margin: 0 auto;
  font-weight: normal;
  z-index:100;
}

#container{
  position:fixed;
  top:0px;
  right:0px;  
  z-index:1;
}
a,
.green {
  text-decoration: none;
  color: rgb(7, 253, 171);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
